/* Navbar */
	
	
	#brandpic {
	
		width: 3em;
		height: 2em;
		margin-right: 0.5em;
	
	}
	

	.btn-primary {
		
		border: none;
		
	}

	.btn-primary:hover {
	
		color: #E2211B;
		background-color: #F9D334;
		border: none;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	
	}
		
	#donate-link {
	 
		border-radius: 5px;
		background-color: #E2211B;
		text-transform: uppercase;
		padding-left: 10px;
		padding-right: 10px;
		color: white !important;
		
	}
	
	#donate-link:hover {
		
		/*background-color: black;*/ 
				
	}

	.dropdown-menu {
	
		background-color: #F9D334; 
		color: #56565A;
		margin: 0;

	
	}
	
	.dropdown-menu a {
		
		color: #56565A !important;
		margin-right: 0 !important;
		
	}
	
	.dropdown-item a {
	
		color: #56565A;
		margin: 0;
	
	}
	
	.dropdown-item:hover {
	
		background-color: #56565A;
		color: #F9D334 !important;
	
	}
	
	
	.navbar {
	
		background-color: white; /*#56565A;*/
		border-bottom: 5px solid #0EB4DC;
		color: #0EB4DC;
		padding: 0;
	
	}
	
	.navbar .navbar-nav .nav-link {
    
		color: #0EB4DC;
		font-size: 1.1em;
	
	}
	
		.navbar .navbar-nav .nav-link:hover {
    
		color: #F9D334;
	
	}
	
	.navbar-brand {
		
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		text-decoration: underline;
		color: #E2211B !important;
		
	}
	
	.navbar-collapse {
		
		text-align: center;
		margin: 1em;
		margin-right: 0 !important;
	
	}
	
	.navbar .nav-item {
		
		padding: 0.5em;
		
	}
	
	.navbar .nav-item .active {
	
		/*background-color: #E2211B;*/
		border-radius: 5px;
		padding: cover;
		color: #E2211B !important;/*#56565A !important; */
	
	}
	
	.navbar .navbar-nav .nav-link::after {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  background-color: #E2211B;
	  color: transparent;
	  width: 0%;
	  content: '.';
	  height: 3px;
	
	}
	
	.navbar .navbar-nav .nav-link:hover::after {
	
		width: 100%;
	
	}
	
	.navbar-nav {
		
		float: right;
		
	}
	
	.navbar .navbar-nav .nav-link {
    
		position: relative;
		color: #000000;
		font-size: 1.5em;
		transition: all 0.5s;
	
	}
	
	#navbarNavDropdown a {
		
		color: #0EB4DC;
		
	}
	
	.sm-icons {
		
		flex-direction: row;
		justify-content: center;
	
	}
	
	@media only screen and (max-width: 600px) {
	
	.navbar-brand span {

			display: none;
		
		}
		
	}
	
	@media only screen and (max-width: 1200px) {
		
		.nav-item {
		
			padding-right: 1em;
		
		}
	
	}
	    
	
/* End Navbar */


/* Jumbotron */

	#contributeButton, #contributeEmail, #contributeZip {
		
		margin: 5px 5px 5px 0;
		display: none;
		
	}
	
	.display-4 {
	
		padding-top: 25px;
		font-weight: bold;
	
	}
	
	hr {
	
		width: 60%;
		border: 1px solid black;
	
	}	
	
	.jumbotron {
		margin: 0 auto;
		background: url(images/jackson.jpg);
		/* 
		linear-gradient(
			to left,
			rgba(0,0,0, 0),
			rgba(249,211,52, 0.5)
		  ), (might re-add some kind of linear gradient to the background image) 
		  */
		background-position: left center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%; 
		padding: 0.05rem 1rem;
		margin-bottom: 2rem;
		border-radius: .3rem;
		font-weight: bold;
		overflow: hidden;
		display: flex;
		position: relative;
		color: white;
	}
	
	#jumbotronContent {
		
		float: left;
		padding: 0;
		max-width: 35vw;
		margin-bottom: 25px;
		
	}
	
	#jumbotronImage {
		
		min-height: 50%;
		max-height: 90%;
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 60vw;
		
	}
	
	.jumbotron h1 {
		
		color: #0EB4DC;
		
	}
	
	.jumbotron p {
		
		color: #E2211B;
		
	}
	
	.jumbotron .btn-primary {
		
		background-color: #0EB4DC;
		border: none;
		
	}
	.lead {
	
		font-weight: bold;
	
	}
	
	@media only screen and (min-width: 750px) {
		
		.jumbotron {
		
			min-height: 450px;
		
		}
	
	}
	
/*End Jumbotron*/
	

/* Main Body between Header/Jumbotron and Footer */

		.bs-example {
			
			margin: 25px;
			font-family: Arial, Helvetica, sans-serif;
			border-radius: 5px;
			
		}
		
		.bs-example h5 {
			
			font-weight: 800;
			
		}
		
		.bs-example.blue {
			
			position: relative;
			
		}
				
		.bs-example.blue {

			box-shadow: -5px 5px 5px #0EB4DC;
			
		}
		
		.bs-example.red {
			
			 box-shadow: 5px 5px 5px #E2211B;
			
		}
		
		.bs-example btn-primary:hover {
			
			box-shadow: 0 0 6px rgba(35, 173, 278, 1) !important;
			
		}
		
		.card {
			
			max-width: 1500px;
			
		}
		
		.cardImages {
			
			max-width: 400px;
			max-height: 300px;
		
		}
		
		.rightImages {
			
		}
		
		
		@media only screen and (max-width: 575px) {
	
			.flipped {
				flex-direction: column-reverse;
			}
	
		}
		


/* End Main Body */


/* Footer and Copywright Bar */

	#banner {
	
		width: 60%;
	
	}
	
	#contact {
		
		text-align: center;
		margin-bottom: 25px;
		
	}
	
	#copywrightBar {
		
		background-color: #E2211B;
		
	}
	
	
	footer a {
		
		text-decoration: none;
		
	}
	
	footer a:hover {
		
		color: #E2211B !important;
		
	}
	
	footer h5 {
		
		text-decoration: underline;
		margin-top: 40px;
		
	}
		
	#paidFor {
	
		color: black;
		border: 1px solid black;
		padding: 5px;
	
	}
	.text-white {
	
		background-color: #0EB4DC;
		
	}

/* End Footer and Copywright Bar */



