/* Navbar */
	
	
	#brandpic {
	
		width: 3em;
		height: 2em;
		margin-right: 0.5em;
	
	}
	

	.btn-primary {
		
		border: none;
		
	}

	.btn-primary:hover {
	
		color: #E2211B;
		background-color: #F9D334;
		border: none;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	
	}
		
	#donate-link {
	 
		border-radius: 5px;
		background-color: #E2211B;
		text-transform: uppercase;
		padding-left: 10px;
		padding-right: 10px;
		color: white !important;
		
	}
	
	#donate-link:hover {
		
		/*background-color: black;*/ 
				
	}

	.dropdown-menu {
	
		background-color: #F9D334; 
		color: #56565A;
		margin: 0;

	
	}
	
	.dropdown-menu a {
		
		color: #56565A !important;
		margin-right: 0 !important;
		
	}
	
	.dropdown-item a {
	
		color: #56565A;
		margin: 0;
	
	}
	
	.dropdown-item:hover {
	
		background-color: #56565A;
		color: #F9D334 !important;
	
	}
	
	
	.navbar {
	
		background-color: white; /*#56565A;*/
		border-bottom: 5px solid #0EB4DC;
		color: #0EB4DC;
		padding: 0;
	
	}
	
	.navbar .navbar-nav .nav-link {
    
		color: #0EB4DC;
		font-size: 1.1em;
	
	}
	
	.navbar .navbar-nav .nav-link:hover {
    
		color: #F9D334;
	
	}
	
	.navbar-brand {
		
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		text-decoration: underline;
		color: #E2211B !important;
		
	}
	
	.navbar-collapse {
		
		text-align: center;
		margin: 1em;
		margin-right: 0 !important;
	
	}
	
	.navbar .nav-item {
		
		padding: 0.5em;
		
	}
	
	.navbar .nav-item .active {
	
		/*background-color: #E2211B;*/
		border-radius: 5px;
		padding: cover;
		color: #E2211B !important;/*#56565A !important; */
	
	}
	
	.navbar .navbar-nav .nav-link::after {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  background-color: #E2211B;
	  color: transparent;
	  width: 0%;
	  content: '.';
	  height: 3px;
	
	}
	
	.navbar .navbar-nav .nav-link:hover::after {
	
		width: 100%;
	
	}
	
	.navbar-nav {
		
		float: right;
		
	}
	
	.navbar .navbar-nav .nav-link {
    
		position: relative;
		color: #000000;
		font-size: 1.5em;
		transition: all 0.5s;
	
	}
	
	#navbarNavDropdown a {
		
		color: #0EB4DC;
		
	}
	
	.sm-icons {
		
		flex-direction: row;
		justify-content: center;
	
	}
	
	@media only screen and (max-width: 600px) {
	
	.navbar-brand span {

			display: none;
		
		}
		
	}
	
	@media only screen and (max-width: 1200px) {
		
		.nav-item {
		
			padding-right: 1em;
		
		}
	
	}
	    
	
/* End Navbar */


/* Jumbotron */

	#contributeButton, #contributeFirstName, #contributeLastName, #contributeEmail, #contributeZip {
		
		margin: 5px 5px 5px 0;
		display: none;
	}
	
	
	.display-4 {
	
		padding-top: 25px;
		font-weight: bold;
	
	}
	
	hr {
	
		width: 60%;
		border: 1px solid #000;
	
	}	
	
	.jumbotron {
		margin: 0 auto;
		background: url(images/mspic.jpg);
		/* 
		linear-gradient(
			to left,
			rgba(0,0,0, 0),
			rgba(249,211,52, 0.5)
		  ), (might re-add some kind of linear gradient to the background image) 
		  */
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: cover;
		
		height: 100%;
		width: 100%; 
		padding: 0.05rem 1rem;
		margin-bottom: 2rem;
		border-radius: .3rem;
		font-weight: bold;
		overflow: hidden;
		display: flex;
		position: relative;
		color: white;
	}
	
	#jumbotronContent {
		
		float: left;
		padding: 0;
		max-width: 35vw;
		margin-bottom: 25px;
		
	}
	
	#jumbotronImage {
		
		min-height: 50%;
		max-height: 90%;
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 60vw;
		
	}
	
	.jumbotron h1 {
		
		color: #0EB4DC;
		
	}
	
	.jumbotron p {
		
		color: #E2211B;
		
	}
	
	.jumbotron .btn-primary {
		
		background-color: #0EB4DC;
		border: none;
		
	}
	.lead {
	
		font-weight: bold;
	
	}
	
	.jumbotron input {
		
		max-width: 40%;
		height: 2.5rem;
		
	}
	
	.jumbotron .btn-primary {
		
		max-width: 40%;
		
	}
	
	@media only screen and (min-width: 750px) {
		
		.jumbotron {
			
			min-height: 450px;
		}
  
	}
	
	
	
/*End Jumbotron*/
	

/* Main Body between Header/Jumbotron and Footer */
	
	.bodyHR {
		
		width: 90%;
		margin: 25px auto;
		
	}
	
	.blockquote {
		
		padding: 10px;
		
	}
	
	#issuesImages {
		
		max-width: 100px;
		
	}
	
	#mainBody {
		
		height: 100%;
		margin: 50px;
		
	}
	
	#mainBody h1 {
		
		color: #E2211B;
		
	}
	
	#mainBody .btn-primary {
		
		background-color: #0EB4DC;
		
	}
	
	#issuesCrime, #issues2nd {
		
		filter: invert(50%) sepia(29%) saturate(4009%) hue-rotate(157deg) brightness(105%) contrast(89%);
		
	}
	
	#issuesTax, #issuesJob {
		
		filter: invert(15%) sepia(86%) saturate(4697%) hue-rotate(355deg) brightness(93%) contrast(89%);
		
	}
	
	.content-title{

		margin-bottom: 35px;

	}		

	.mediaHeader {
		
		height: 2rem;
		margin: 5px;
		
	}

	
	#recipePhoto {
		
		float: left;
		margin-bottom: 25px;
		width: 45%;
		border-radius: 30px;
		
		
	}
	
	#quoteCard {
		
		margin: 0 auto;
		width: 45%;
		border: 1px solid black;
		padding: 0;
		
	}
	
	#quoteCard .card-header{
		
		background-color: #F9D334;
		
	}
	
	@media only screen and (max-width: 1200px) {
	
		#recipePhoto {
		
			width: 95%;
			margin: 25px auto;
		
		}
		
		#quoteCard {
		
			width: 90%;
			margin: 0 auto;
		
		}

	}
	
	.content-card-style-3 .content-title .title {
	  font-weight: 500;
	  font-size: 52px;
	  line-height: 65px;
	  color: #000;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .content-title .title {
		font-size: 42px;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .content-title .title {
		font-size: 30px;
		line-height: 40px;
	  }
	}

	.content-card-style-3 .content-title p {
	  font-weight: 400;
	  font-size: 24px;
	  line-height: 30px;
	  color: rgba(0, 0, 0, 0.64);
	  margin-top: 16px;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .content-title p {
		font-size: 20px;
		margin-top: 8px;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .content-title p {
		font-size: 18px;
		margin-top: 8px;
		line-height: 26px;
	  }
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .single-content .content-image img {
		width: 110px;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .single-content .content-image img {
		width: 110px;
	  }
	}

	.content-card-style-3 .single-content .content-content .title {
	  font-weight: 500;
	  font-size: 24px;
	  line-height: 30px;
	  color: #000;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .single-content .content-content .title {
		font-size: 18px;
	  }
	}

	/* Customized by me	to keep svg images from overflowing into the next column at this screen range*/
	@media only screen and (min-width: 992px) and (max-width: 1400px) {
		.content-card-style-3 .single-content .content-image img {
		width: 150px;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .single-content .content-content .title {
		font-size: 20px;
	  }
	}

	.content-card-style-3 .single-content .content-content p {
	  font-weight: 300;
	  font-size: 16px;
	  line-height: 22px;
	  color: #000;
	  margin-top: 16px;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .single-content .content-content p {
		margin-top: 8px;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .single-content .content-content p {
		margin-top: 8px;
	  }
	}

	.content-card-style-3 .content-image {
	  position: relative;
	}

	.content-card-style-3 .content-image .content-image-preview {
	  position: relative;
	}

	.content-card-style-3 .content-image .content-image-preview .tns-controls {
	  position: absolute;
	  width: calc(100% - 50px);
	  height: 100%;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  left: 25px;
	}

	.content-card-style-3 .content-image .content-image-preview .tns-controls button {
	  position: relative;
	  z-index: 22;
	  width: 40px;
	  height: 40px;
	  border-radius: 4px;
	  border: none;
	  background: rgba(84, 45, 237, 0.3);
	  color: #542DED;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 30px;
	}

	.content-card-style-3 .content-image .content-image-preview .tns-controls button:hover {
	  background: #542DED;
	  color: #fff;
	}

	.content-card-style-3 .content-image .content-image-preview .content-preview-active .single-preview img {
	  width: 100%;
	}

	.content-card-style-3 .content-image .content-image-preview .content-preview-active .slick-arrow {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  left: 30px;
	  font-size: 32px;
	  color: rgba(255, 255, 255, 0.36);
	  transition: all 0.3s linear;
	  z-index: 5;
	  cursor: pointer;
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .content-image .content-image-preview .content-preview-active .slick-arrow {
		left: 10px;
		font-size: 24px;
	  }
	}

	.content-card-style-3 .content-image .content-image-preview .content-preview-active .slick-arrow.next {
	  left: auto;
	  right: 30px;
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .content-image .content-image-preview .content-preview-active .slick-arrow.next {
		right: 10px;
	  }
	}

	.content-card-style-3 .content-image .content-image-preview .content-preview-active .slick-arrow:hover {
	  color: #fff;
	}

	.content-card-style-3 .content-image .content-image-thumb {
	  width: 35%;
	  margin: 0 auto;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	}

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	  .content-card-style-3 .content-image .content-image-thumb {
		width: 45%;
	  }
	}

	@media (max-width: 767px) {
	  .content-card-style-3 .content-image .content-image-thumb {
		width: 80%;
	  }
	}

	@media only screen and (min-width: 576px) and (max-width: 767px) {
	  .content-card-style-3 .content-image .content-image-thumb {
		width: 60%;
	  }
	}

	.content-card-style-3 .content-image .content-image-thumb .content-thumb-active {
	  display: flex;
	}

	.content-card-style-3 .content-image .content-image-thumb .content-thumb-active .single-thumb {
	  cursor: pointer;
	  opacity: 0.4;
	  transition: all 0.3s linear;
	}

	.content-card-style-3 .content-image .content-image-thumb .content-thumb-active .single-thumb img {
	  display: inline-block;
	  width: 100%;
	}

	.content-card-style-3 .content-image .content-image-thumb .content-thumb-active .single-thumb.tns-nav-active {
	  opacity: 1;
	}

	.content-image img {
		
		height: 200px;
		width: 300px;
		
	}

	#homeIssuesBody {
		
		margin-bottom: 50px;
		
	}

	#moreIssuesButton {
		
		font-weight: 750;
		
	}

/* End Main Body */


/* Footer and Copywright Bar */

	#banner {
	
		width: 60%;
	
	}
	
	#contact {
		
		text-align: center;
		margin-bottom: 25px;
		
	}
	
	#copywrightBar {
		
		background-color: #E2211B;
		
	}
	
	
	footer a {
		
		text-decoration: none;
		
	}
	
	footer a:hover {
		
		color: #E2211B !important;
		
	}
	
	footer h5 {
		
		text-decoration: underline;
		margin-top: 40px;
		
	}
		
	#paidFor {
	
		color: black;
		border: 1px solid black;
		padding: 5px;
	
	}
	.text-white {
	
		background-color: #0EB4DC;
		
	}

/* End Footer and Copywright Bar */